body {
    color: #878787;
    background-color: white;
}

#header a {
    color: black;
}

a, a:visited, div.comments h3.title {
    color: #0044CC;
}

.release_note .title a , #sidebar div h2 {
    color: #0000CC;
}

.release_note h1, .release_note h2, .release_note h3 {
    color: #0000CC;
}

#sidebar {
    background-color: lightblue;
    border: 1px solid black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar h1, #sidebar h2, #sidebar h3, 
#index_content h1, #index_content h2, #index_content h3, 
#single_content h1, #single_content h2, #single_content h3 {
    margin-top: 0px;
}
