---
layout: default
title: Apache Accumulo Release Notes
---
            <div id="index_content">
                <div id="release_notes">
                {% for release_note in paginator.posts %}
                    <div class="release_note" id="{{ release_note.version }}">
                        <div class="version">
                            <h3 class="version"><a href="{{ release_note.url }}">{{ release_note.title }}</a></h3>
                        </div>

                        <div class="content">
                            {{ release_note.content }}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div id="sidebar">
                <h3>Recent Releases</h3>
                <ul>
                {% for release_note in paginator.posts %}
                    <li><a href="#{{ release_note.version }}">{{ release_note.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
